/artifacts
/blocks-inspected
/configtx.yaml.bak
/ledger
/mychannel.block
/organizations
/transientstore
/snapshots
/ledgersData
/externalbuilder
/chaincodes
/lifecycle
/CouchDB
/mycc.tar.gz
atcc/vendor/*
atcc/go.mod
atcc/go.sum
